<!DOCTYPE html>
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="JS代码,菜单导航,JS广告代码,JS特效代码" />
<meta name="description" content="此代码内容为柯乐义顶部导航菜单，属于站长常用代码，更多菜单导航代码请访问柯乐义JS代码频道。" />
<title>柯乐义顶部导航菜单_柯乐义</title><base target="_blank" />
<LINK href="http://keleyi.com/keleyi/phtml/menu/3/css/css.css"rel=stylesheet>
<SCRIPT type="text/javascript" src="http://keleyi.com/keleyi/phtml/menu/3/js/keleyi.com.tb.js"></SCRIPT>
</head>

<body style="text-align:center">

<div id=page>
<div class="chl-poster simple" id=header>
<div id=site-nav>
<UL class="quick-menu">
<LI class="home"><A href="http://keleyi.com/">柯乐义首页</A> </LI>
<LI><A href="http://keleyi.com/a/bjac/et551617.htm">我要买</A></LI>
<LI class="mytaobao menu-item">
<div class="menu">
<A class="menu-hd" href="http://keleyi.com/a/bjac/y63we342.htm" target=_top rel=nofollow>我的买卖<B></B></A> 
<div class="menu-bd">
<div class="menu-bd-panel">
<div>
<A href="http://keleyi.com/a/bjac/et551617.htm" rel=nofollow>已买到的软件</A>
<A href="http://keleyi.com/a/bjac/e8t7hoj4.htm" rel=nofollow>已卖出的软件</A> 
</div>
</div>
<S class="r"></S><S class="rt"></S><S class="lt"></S><S class="b"></S><S class="b b2"></S><S class="rb"></S><S class="lb"></S>
</div>
</div>
</LI>
<LI class="cart"><A href="http://keleyi.com/a/bjac/et551617.htm" rel=nofollow><S></S>购物车 </A></LI>
<LI class="favorite"><A href="http://keleyi.com/a/bjac/et551617.htm" rel=nofollow>收藏夹</A></LI>
<LI class="search menu-item">
<div class="menu"><SPAN class="menu-hd"><S></S>搜索<B></B></SPAN> 
<div class="menu-bd">
<div class="menu-bd-panel">
<FORM name=topSearch action="http://www.baidu.com/baidu?q=site%3Akeleyi.com%20柯乐义"><input type="hidden" name="q" value="柯乐义" /><INPUT 
maxLength=60 name=word><BUTTON type=submit>搜 索</BUTTON> <INPUT type=hidden 
value=keleyi.com name=si><input type="hidden" value="keleyi.com" name="s" /><input name=tn type=hidden value=baidu><input type="hidden" value="2097152" name="ct" /> </FORM>
</div>
<S class="r"></S><S class="rt"></S><S class="lt"></S><S class="b"></S><S class="b b2"></S><S class="rb"></S><S class="lb"></S>
</div>
</div>
</LI>
<LI class="services menu-item last">
<div class="menu">
<A class="menu-hd" href="http://keleyi.com/a/bjac/et551617.htm" target=_top>网站导航<B></B></A> 
<div class="menu-bd" style="WIDTH: 210px; HEIGHT: 262px; _width: 202px">
<div class="menu-bd-panel">
<DL>
<DT><A href="http://keleyi.com/a/bjac/9dd21532ed1dbf23.htm">购物</A>
<DD>
<A href="http://keleyi.com/a/bjac/532bedbffca1affa.htm">商城</A> 
<A href="http://keleyi.com/a/bjac/kjsrt3b0.htm">电器城</A> 
<A href="http://keleyi.com/a/bjac/mt97p5y9.htm">嗨淘</A>
<A href="http://keleyi.com/a/bjac/et551617.htm">全球购</A>
<A href="http://keleyi.com/a/bjac/et551617.htm">跳蚤街</A> 
<A href="http://keleyi.com/a/bjac/3wjq3xm2.htm">礼物</A>
<A href="http://keleyi.com/a/bjac/et551617.htm">促销</A>
<A href="http://keleyi.com/a/bjac/7slnymte.htm">机票</A>
<A href="http://keleyi.com/a/bjac/et551617.htm">彩票</A>
<A href="http://keleyi.com/a/bjac/c07969353e71816f.htm">创意</A> 
</DD>
</DL>
<DL>
<DT><A href="http://keleyi.com/a/bjac/kjsrt3b0.htm">门户</A> 
<DD><A href="http://keleyi.com/a/bjac/5aed2303707e30fa.htm">服饰</A> <A href="http://keleyi.com/a/bjac/et551617.htm">女人</A> <A href="http://keleyi.com/a/bjac/et551617.htm">美容</A> <A href="http://keleyi.com/a/bjac/3n8d6g5f.htm">居家</A> <A href="http://keleyi.com/a/bjac/1329fae4a4a54bdd.htm">男人</A> <A href="http://keleyi.com/a/bjac/et551617.htm">数码</A> <A href="http://keleyi.com/a/bjac/jp71q5jt.htm">亲子</A> <A href="http://keleyi.com/a/bjac/et551617.htm">时尚</A> <A href="http://keleyi.com/a/bjac/c6gu08gm.htm">试用</A> <A href="http://keleyi.com/a/bjac/et551617.htm">心得</A> <A href="http://keleyi.com/a/bjac/mnmpm4bv.htm">帮派</A> <A href="http://keleyi.com/a/bjac/et551617.htm">画报</A> <A href="http://keleyi.com/a/bjac/et551617.htm">淘女郎</A> <A href="http://keleyi.com/a/bjac/et551617.htm">社区</A> <A href="http://keleyi.com/a/bjac/et551617.htm">柯乐义传</A>
</DD>
</DL>
<DL>
<DT><A href="http://keleyi.com/a/bjac/nmwpqgag.htm">淘江湖</A> &nbsp;<A href="http://keleyi.com/a/bjac/et551617.htm">手机柯乐义</A> </DT></DL>
<DL>
<DT><A href="http://keleyi.com/a/bjac/1329fae4a4a54bdd.htm">帮助中心</A> 
<DD><A href="http://keleyi.com/a/bjac/utovcdwr.htm">交易安全</A> <A href="http://keleyi.com/a/bjac/et551617.htm">维权中心</A> </DD></DL>
<DL class="last">
<DD><STRONG style="FONT-WEIGHT: bold"><A href="http://keleyi.com/a/bjac/7e8897e5ec0849e9.htm">更多内容</A></STRONG></DD>
</DL>
</div>
<S class="r"></S><S class="rt"></S><S class="lt"></S><S class="b" style="WIDTH: 169px"></S><S class="b b2" style="WIDTH: 169px"></S><S class="rb"></S><S class="lb"></S>
</div>
</div>
</LI>
</UL>
</div>
</div>
</div>
<SCRIPT type=text/javascript>
TB.Header.init();
</SCRIPT>

<p>&nbsp; </p>
<p>代码整理：<a href="http://keleyi.com/" target="_blank">柯乐义</a>　感谢：<a href="http://keleyi.com/" target="_blank">柯乐义</a></p>
<p>＊尊重他人劳动成果，转载请自觉注明出处！注：此代码仅供学习交流，请勿用于商业用途。</p>
<p></p>
<p><p>整合了购物车，收藏夹，搜索，搜索，网站导航等功能的导航。</p></p>
<p></p>
</body>
</html>

<!--<body>
      <div class="navbar">
  	<div class="navbar-fixed-top">
    	<a class="brand" href="">AtomOA</a>
    	<ul class="nav">
     	 <li class="active"><a href="/app/">首页</a></li>
     	 </ul>
     	  <ul class="nav pull-right">
             {% if user.is_authenticated %}
                    <li class="navbar-text">Welcome,</li>
                    <li><a href="">{{ user.username }}!</a></li>
                    <li><a href="/app/logout">Logout</a></li>
             {% else %}
      		       <li><a href="/app/register">register</a></li>
      		       <li><a href="/app/login">login</a></li>
             {% endif %}
    	</ul>
  	</div>
</div>
  	<div class="container">
	<div class="hero-unit">
	       {% block body %}
              {% endblock %}
              </div>
      </div>
      {% block body2 %}
              {% endblock %}
 	<hr>
	<footer>
    	<div class="container">
        		<p>&copy; AtomOA</p>
   	 </div>
	</footer>
	<hr/>
   	 <script src="http://code.jquery.com/jquery.js"></script>
    	<script src="js/bootstrap.min.js"></script>
    	<script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    	<script src="{% static 'js/bootstrap.min.js' %}"></script>

  </body>-->