{% extends "homepage.html"%}
{% block body%}
<div class="container">

        <!-- 内容部分开始 -->
           <div class="row">
           <div class="col-lg-4"></div>
            <div class="col-lg-4">
                    <i class="cart-step cart-icon-1 ilb"></i>
            </div>
            </div>

            <div class="row-p30">
            <div class="col-lg-1"></div>

            <div class="col-lg-10">
            <div class="item-recommend">
                    <div class="list-item-title pl10 f14 tit-family "><i class="icon-main icon-recom mr5"></i>订单信息</div>
                    <h2>收件人+地址</h2>
                    <div class="list-item-title pl10 f14 tit-family "><i class="icon-main icon-recom mr5"></i>选择支付方式</div>
                    <ul>
                        <label class="checkbox">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> 在线支付
                        </label>
                        <label class="checkbox">
                        <input type="checkbox" id="inlineCheckbox2" value="option2"> 银行卡支付
                        </label>
                        <label class="checkbox">
                        <input type="checkbox" id="inlineCheckbox3" value="option3"> 货到付款
                        </label>
                    </ul>

                    <div class="list-item-title pl10 f14 tit-family "><i class="icon-main icon-recom mr5"></i>是否电话确认</div>
                    <ul>
                        <label class="checkbox">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> 是
                        </label>
                        <label class="checkbox">
                        <input type="checkbox" id="inlineCheckbox2" value="option2"> 否
                        </label>
                    </ul>
                </div>
                </div>

            <div class="row p30">
            <div class="col-lg-1"></div>
            <div class="item-recommend">
            <div class="col-lg-10">
                <div class="cart-content">
                    <table width="100%" border="0">
                        <tbody>
                            <tr>
                                <td width="45%" class="tr-title">商品名称</td>
                                <td width="21%" class="tr-title">金额</td>
                                <td width="21%" class="tr-title">数量</td>
                            </tr>
                            {% for item in Contents %}
                            <tr>
                                <td width="50%" class="tr-list">
                                    <a href="../good/{{item.ProductID}}" target="_blank">
                                        <img class="pull-left" alt= {{item.Name}} src= {{item.Image}} /></a>
                                    <div class="summary blue-font"><a href="../good/{{item.ProductID}}" target="_blank">{{item.Name}}</a></div>
                                </td>
                                <td width="25%" class="tr-list"><b class="orange-font">￥{{item.Cost}} </b></td>
                                <td width="25%" class="tr-list">
                                    <a>{{item.Count}}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
            </div>
            </div>
        <!-- 步骤一 -->
        <div class="row p30">
        <div class="col-lg-1"></div>
            <div class="col-lg-10 main-show mb10">
                <div class="total tr"><b>总计（不含运费）：</b> <i class="orange-font f20 tit-family pr10">{{Total}}</i></div>
            </div>
            <div class="pull-right">
              <form id="submit_order" method="post" action="/eweb/cartstep2/">
                {% csrf_token %}
                <input value="提交订单" type="submit" class="btn btn-danger btn-lg mr20"/>
              <form>
            </div>
            </div>


        <div class="row mt10">
            <div class="col-lg-12 help-center">
                <ul class="help-list">
                    <li>
                        <ul class="help-on">
                            <li class="ontitle"><i class="icon-main icon-help-1 pull-left"></i>关于我们</li>
                            <li class="ontext"><a href="#">关于xx运动网</a></li>
                            <li class="ontext"><a href="#">联系我们</a></li>
                            <li class="ontext"><a href="#">加入我们</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="help-on">
                            <li class="ontitle"><i class="icon-main icon-help-2 pull-left"></i>购物指南</li>
                            <li class="ontext"><a href="#">购物流程</a></li>
                            <li class="ontext"><a href="#">服务协议</a></li>
                            <li class="ontext"><a href="#">优惠券说明</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="help-on">
                            <li class="ontitle"><i class="icon-main icon-help-3 pull-left"></i>支付方式</li>
                            <li class="ontext"><a href="#">银联支付</a></li>
                            <li class="ontext"><a href="#">快钱支付</a></li>
                            <li class="ontext"><a href="#">支付宝支付</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="help-on">
                            <li class="ontitle"><i class="icon-main icon-help-4 pull-left"></i>配送方式</li>
                            <li class="ontext"><a href="#">运费说明</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="help-on">
                            <li class="ontitle"><i class="icon-main icon-help-5 pull-left"></i>售后服务</li>
                            <li class="ontext"><a href="#">退换货政策</a></li>
                            <li class="ontext"><a href="#">退换货流程</a></li>
                            <li class="ontext"><a href="#">退换货申请</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="help-on">
                            <li class="ontitle"><i class="icon-main icon-help-6 pull-left"></i>帮助信息</li>
                            <li class="ontext"><a href="#">常见问题</a></li>
                            <li class="ontext"><a href="#">投诉建议</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
</div>


{% endblock%}
